body {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: rgb(0,0,0);
  height: 100%;
  background-repeat: no-repeat;
  font-weight: 100;
}

img {

  border-radius: 1px;
  padding: 0;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}

.flex-child {
    -webkit-box-flex: 1 1 1;
    -moz-box-flex: 1 1 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

 .crop {
        width: 300px;
        height: auto;
        overflow: hidden;
    }

.crop img {
        width: auto;
        height: auto;
        margin: 0;
    }

button1 {
	background:transparent;
    border:none;
    outline:none;
    display:block;
    height:400px;
    width:320px;
    cursor:pointer;
    margin: 0;
    padding : 0;
 
}

button2 {
	background:transparent;
    border:none;
    outline:none;
    display:block;
    height:800px;
    width:320px;
    cursor:pointer;
    margin: 0;
    padding : 0;
 
}

.column {
  float: left;
  width: auto;
}

h1{
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  text-align: center;
  margin: 50;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
}

table{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
 
}

.form {
	
	line-height: 1.5;
	margin-top: 10px;
	width: 200px;
	font-size: 14px;
	color: black;
	padding: 5px 10px;
	background: transparent;

}


select {
	
	line-height: 1.5;
	margin-top: 10px;
	width: 200px;
	font-size: 14px;
	color: black;
	padding: 5px 10px;
	background: transparent;

}

button {
	
    line-height: 2.0;
    border: none;
    border:3px solid white;
    font-size: 14px;
    color: rgb(0,0,0);
    padding: 5px 30px;
    background: rgba(102,179,255,1.0);
    border-radius: 5px;
    opacity: 0.8;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}


li {
  margin-left: 0px;
  font-size: 20px;
  list-style-type: none
}

input[type=text]:focus {
  outline: none;
}

button:hover{
  opacity: 1;
}